<md-toolbar layout="row" layout-align="center center">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Alt Tab</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">Home</md-button>
    <md-button href="#about" class="md-raised">About</md-button>
    <md-button href="#contact" class="md-raised">Contact</md-button>
  </section>

  <md-button class="acme-navbar-text">Application was created {{ vm.relativeDate }}.</md-button>

</md-toolbar>
